<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<!-- Navigation bar -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SonorAI</a>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
                <a class="btn btn-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a class="btn btn-link" href="{% url 'register' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Login form -->
<div class="container mt-4">
    <h1>Login</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username"><b>User Name:</b></label>
            <input id="username" class="form-control" type="text" placeholder="Enter User Name" name="username" required>

            <label for="psw" class="mt-2"><b>Password:</b></label>
            <input id="psw" type="password" class="form-control" placeholder="Enter Password" name="psw" required>
        </div>

        {% if message %}
        <div class="alert alert-warning mt-3">
            {{ message }}
        </div>
        {% endif %}

        <button class="btn btn-primary mt-3" type="submit">Login</button>
    </form>
</div>

</body>
</html>
